@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  border-bottom: 1px solid white;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover {
  color: white;
}


.hover-div:hover {
  padding: 0px 5px;
  text-align: center;
  min-height: 350px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 10px 0px;
}

.hover-div {
  cursor: pointer;
  padding: 5px 15px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-style {
  width: 100%;
  height: auto;
  min-height: 200px;
}